:root {
  --black-single-border: solid 1px black;
  --gray-single-border: solid 1px gray;
}
  
main {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
  padding: 20px;
  overflow-x: hidden;
}
#container {

}

#board {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 1px 5px #ddd;
}

  .row {
    border-top: var(--black-single-border);
    display: flex;
    width: 100%;
    flex-direction: row;  
  }
    .row:last-child {
      border-bottom: var(--black-single-border);
    }

  .cell {
    border-left: var(--black-single-border);
    width: 20px;
    height: 20px;
  }
    .cell:last-child {
      border-right: var(--black-single-border);
    }

#action-bar {
  display: flex;
  width: 100%;
  margin: 10px 0 10px 0;
}    
  input[type=button] {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: 1em;
    box-shadow: 0px 1px 3px #ddd;
  }
    input:hover {
      background-color: #f5f5f5 ;
    } 